name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      tags:
        description: "Go tags"
        type: string
        default: ""

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: build
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-latest
          # - windows-latest
          # - macos-15
        go:
          # - "~1.22.9"
          - "~1.23.3"

    runs-on: ${{ matrix.runner }}

    steps:
      - name: If Windows, set git to use LF
        if: contains(matrix.runner, 'windows')
        # Without this, the Windows checkout will happen with CRLF line
        # endings, which is fine for the source code but messes up tests
        # that depend on data on disk being as expected. Ideally, those
        # tests should be fixed, but not today.
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: If macOS, install bash 5, as bash 3 is the default
        if: contains(matrix.runner, 'macos')
        run: |
          brew update
          brew install bash
          if ! grep -q /usr/local/bin <<<"${PATH}"; then
            echo "export PATH="/usr/local/bin:${PATH}"" "${GITHUB_ENV}"
          fi

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      # - name: Setup Golang with cache
      #   uses: magnetikonline/action-golang-cache@v5
      #   with:
      #     go-version: ${{ matrix.go }}

      - name: Install dependencies
        run: |
          go get -v ./...

      - name: Build
        shell: bash
        continue-on-error: true
        run: |
          chmod +x ./build-all.sh
          ./build-all.sh
