name: test-macos

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      notify_debug:
        description: "Enable debug logging"
        type: choice
        options:
          - "No"
          - "Yes"
        default: "No"
      tags:
        description: "Go tags"
        type: string
        default: ""

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-macos:
    name: test-macos
    strategy:
      fail-fast: false
      matrix:
        runner:
          - macos-15
          # - macos-14
          # - macos-13
          # - macos-12
        go:
          # - "~1.22.9"
          - "~1.23.3"

    runs-on: ${{ matrix.runner }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          cache: true

      - name: Install dependencies
        run: |
          go version
          go env
          go get -v ./...

      - name: Run tests
        shell: bash
        run: |
          if [[ "${{ inputs.notify_debug }}" =~ Yes ]]; then
            export NOTIFY_DEBUG=1
          fi
          export TAGS="${{ inputs.tags }}"
          go test -v -tags "${TAGS}" ./...
