name: test-bsd

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      notify_debug:
        description: "Enable debug logging"
        type: choice
        options:
          - "No"
          - "Yes"
        default: "No"
      tags:
        description: "Go tags"
        type: string
        default: ""

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-bsd:
    name: test-bsd
    strategy:
      fail-fast: false
      matrix:
        go:
          # - "1.22.9"
          - "1.23.3"
        os:
          - name: freebsd
            architecture: arm64
            version: '14.1'

          - name: freebsd
            architecture: x86-64
            version: '14.1'

          - name: openbsd
            architecture: arm64
            version: '7.6'

          - name: openbsd
            architecture: x86-64
            version: '7.6'

          - name: netbsd
            architecture: arm64
            version: '10.0'
            
          - name: netbsd
            architecture: x86-64
            version: '10.0'

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          show-progress: false

      - name: Run test
        uses: cross-platform-actions/action@v0.25.0
        with:
          operating_system: ${{ matrix.os.name }}
          architecture: ${{ matrix.os.architecture }}
          version: ${{ matrix.os.version }}
          shell: bash
          run: |
              set -v -x

              uname -a
              whoami
              env | sort
              ls -al ~

              url=https://go.dev/dl/go${{ matrix.go }}.src.tar.gz
              gz="$(basename "${url}")"
              curl -sOL "${url}"
              mkdir tmp
              tar -C tmp -xzf "${gz}"
              pushd tmp/go/src
              ./all.bash
              popd
              export PATH="${HOME}/go/bin:${PATH}"

              go version
              go env

              go get -v ./...

              if [[ "${{ inputs.notify_debug }}" =~ Yes ]]; then
                export NOTIFY_DEBUG=1
              fi

              go test -v -tags "${{ inputs.tags }}" ./...
